extends layout

block extra_styles

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css')
block content

    script(type='text/javascript').
        window.CLUSTER_TYPE = '#{CLUSTER_TYPE}';

    script(type='text/javascript' src='https://d3js.org/d3.v4.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js')

    script(src='/vendor.bundle.js')
    script(src='/auth.bundle.js')

    script(src='/upload_video.js')
    script(src='/cors_upload.js')
