div(id='footer') 
    p Requirements, Design, and Development by the ECHO Team: Patrick Beam, Evan Johnson, Donal McGranaghan, Dustin Williams, Matthew Yauch
    p All parties named above contributed equally to this project as a part of their Senior Practicum for the Computer Information Systems program at California University of Pennsylvania.
