div(id='header')
    h1  Digital Stories Archive 
    h4(class='subhead') A collaboration between California University of Pennsylvania and The Heinz History Center
    nav(class='navbar')
        ul(class='navContainer')
            li 
                a(href='/#/home') home
            li 
                a(href='/#/about') about
            li(class='loginNav') 
                a(href='/#/login') log in
            li
                | Search stories by 
                select(class='inputSel' id='searchSel')
                    option(value='theme') Theme
                    option(value='category') Category
                    option(value='period') Period
                    option(value='author') Author
                input(type='text' class='inputTxt' id='searchTxt' placeholder='Enter search term')
                button(class='inputBtn' id='searchGo') go
